<% layout('/layouts/boilerplate') -%>
<div class="row">
    <div class="col-8 offset-2">
        <br>
<body>
    <h3> <b> Create a New Listing </b> </h3>
    <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data"> 
    <br>
        <div class="mb-3">
            <label for="title" class="form-label"> <b> Title </b> </label>
            <input type="text" name="listing[title]"  placeholder="Enter a Eye Catching Title" class="form-control" required >
            <div class="valid-feedback">Title looks good</div>
            <div class="invalid-feedback">Please enter your title</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label"><b> Description </b></label>
            <textarea name="listing[description]"  class="form-control" required ></textarea>
            <div class="valid-feedback">Description looks good</div>
            <div class="invalid-feedback">Please enter your Description</div>
        </div>

        <!-- <div class="mb-3">
            <label for="image" class="form-label"> <b>Image URL/Link </b></label>
            <input type="text"  name="listing[image]"  placeholder="Enter image/URL link" class="form-control" >
            <div class="valid-feedback">it is Ok if you don't have pictures </div>
        </div> -->

        <div class="mb-3">
            <label for="image" class="form-label"> <b>Upload Listing Image </b></label>
            <input type="file"  name="listing[image]"   class="form-control" >

            <div class="valid-feedback">it is Ok if you don't have pictures </div>
        </div>

        

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label"><b> Price </b></label>
                <input  name="listing[price]"  placeholder="1500" class="form-control" required>
                <div class="invalid-feedback">Please enter a Valid Price</div>
                <div class="valid-feedback">Price looks Ok</div>
            </div>

            <div class="mb-3 col-md-8"> 
                <label for="country" class="form-label"> <b> Country </b></label>
                <input type="text" name="listing[country]"  placeholder="India" class="form-control" required>
                <div class="invalid-feedback">Please enter Country Name </div>
            </div>

        </div>

        <div class="mb-3">  
            <label for="location" class="form-label"><b> Location </b></label>
            <input type="text" name="listing[location]"  placeholder="Pune, Maharashtra" class="form-control" required>
            <div class="invalid-feedback">Location should be Valid !</div>
        </div>

        <button class="btn btn-dark add-btn">Add</button> 
    </form>
</body>
<br>
</div>
</div>